*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blu: #1C1A4E;
  --lightblu: #6869EF;
  --orange: #FF4A22;
  --redtext: #FF4C29;
}
.img{
  width: 100%;
}
.container{
  width: 100%;
  background-color: var(--blu);
}
.inner-container{
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2rem;
}
.col{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.col-action button{ 
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background-color: transparent;
  color: white;
  font-size: medium;
  cursor: pointer;
}
.col-action i{
  align-items: center;
  font-size: 15px;
  padding-top: 0.2rem;
}
.row{
  display: flex;
}
.col-40{
  width: 40%;
}
.col-60{
  width: 60%;
}
.col-action .col-action-position{
  position: relative;
}
.col-action-position i,
.col-action-search i{
  font-size: large;
}
.col-action-position-number{
  position: absolute;
  right: -13px;
  top: -5px;
  font-size: 10px;
  padding-top: 2.5px;
  border:1px solid;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background-color:#FB7A46;
}